.subscription-options {
  display: flex;
  justify-content: center;
  position: relative;
}

.subscription-options .sub-option-pay-to-watch {
  position: relative;
}

.subscription-options .sub-card-optimal-choice {
  position: absolute;
  background: rgba(255, 0, 0, 1);
  width: 31.5%;
  top: -60px;
  left: 34.3%;
  color: white;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
  padding: 12px 0px 20px 0px;
  overflow: hidden;
}

.sub-card {
  width: 33.333%;
}

.sub-card:not(:last-child) {
  margin-right: 35px;
}

.sub-card-header {
  background: linear-gradient(89.13deg, #000000 3.46%, #519c3c 98.84%);
  color: white;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
  padding: 12px 0px;
  overflow: hidden;
}

.sub-card-body {
  padding: 0px 20px;
  min-height: 360px;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  margin-bottom: 50px;
}

.sub-card-body .sub-card-title {
  color: rgba(81, 156, 60, 1);
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  margin: 25px 0px;
}

.sub-card-body .sub-card-text {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  margin: 0;
}

.sub-card-body .sub-card-button {
  max-width: 100%;
  margin-top: auto;
  display: block;
  text-align: center;
  border-radius: 10px;
  border: 0;
  background-color: rgba(81, 156, 60, 1);
  font-size: 24px;
  line-height: 40px;
  color: white;
  text-decoration: none;
}
