.comment-section {
  width: 95%;
  margin: 20px 0px;
  border: 2px solid rgba(21, 40, 51, 1);
  padding: 10px 20px 10px 20px;
  border-radius: 13px;
  position: relative;
  background: rgba(224, 224, 224, 1);
  color: black;
}

.comment-section-content {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 24px;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.comment-section-content .name-comment span {
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
}

.comment-reply .name-comment span {
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
}

.comment-reply {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 24px;
  position: relative;
  padding: 0px 25px;
  box-sizing: border-box;
}

.comment-section .like-dislike {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  font-size: 16px;
}

.comment-section .like-dislike .likes-dislikes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}
